/* style.css */

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the entire viewport height */
    margin: 0; /* Remove default margin */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top vertically */
}

h3 {
    color: black;
}

/* COLORPICKER */
.colorpicker {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.color-option {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.color-option:hover {
    /* border: 2px solid whitesmoke; */
    filter: brightness(90%);
}


/* Darken the color option when clicked */
.color-option:active {
    filter: brightness(80%);
}

/* PIXELGRID */

#pixelgrid {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.row {
    display: flex;
    flex-direction: row;
}

.pixel {
    height: 25px;
    width: 25px;
    border: 0.5px ridge;
    border-color: grey;
    box-sizing: border-box; /* Ensures border and padding are included in the specified width and height and highlight is not growing them*/
    background-color: white;
    display: inline-block;
    /* cursor: none; */
}

/* Cursor */
/* Feature will be added later, cursor should have a floating square/circle next to it indicating the color */

.cursor {
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: fixed;
    z-index: 9999;
    pointer-events: none; /* Ensures the div does not interfere with mouse events */
  }
